.joinUs {
    margin: 8% 20%;
    display: flex;
    align-items: start;
    justify-content:space-between;
}

.leftcontent {
    width: 350px;
    margin: 0;
}

.leftcontent > img {
    height: 580px;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.rightcontent {
    height: 580px;
    background-color: #f1f1f5;
    padding: 5% 10% 5% 5%;
}

.rightcontent p {
    font-size: 1.05rem;
    margin-bottom: 8px;
    line-height: 1.3rem;
}

.rightcontent .pmparainline {
    font-weight: 600;
}