.topbar {
    width: 100%;
    height: 52px;
    padding: 20px 15% 20px 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(225, 254, 243);
}

.tbleft ul li {
    display: inline;
    margin-right: 25px;
}

.tbleft ul li:hover {
    color: #222;
}

.logo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.4rem;
    color: darkblue;
    font-weight: 500;
}

.logo:hover {
    color: darkblue !important;
}

.logo a {
    text-decoration: none;
    color: darkblue;
}

.tbright {
    display: flex;
    align-items: center;
}

.tbright > div {
    margin-left: 20px;
}

.joinus a {
    padding: 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: purple;
    border-radius: 4px;
    border: 0.7px solid purple;
}

.profileimg {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    position: relative;
}

.profileimg i {
    font-size: 0.87rem;
    color: #fff;
    position: absolute;
    top: 24%;
    left: 30%;
}